/*************** Reset *********************/

* {
  margin: 0px;
  padding-block: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/********-*********/

body {
  background-color: #fff8f0;
}

h1,
p {
  margin-block: 30px;
}

.indhold {
  text-align: center;
}

.socials {
  width: 50%;
  padding-block: 5%;
  margin: 0 auto; /* centrerer  */
}

.mad {
  width: 90%;
  margin-block: 5%;
  margin: 0 auto; /* centrerer  */
}
p {
  line-height: 2.5rem;
}

.socialp {
  margin-block: 40px;
}
/********PYNT*********/

#pynt1 {
  width: 10%;
  position: absolute;
  top: 650px;
  left: 30px;
  background-image: url(img/pynt1.webp);
}

#pynt2 {
  width: 10%;
  position: absolute;
  top: 550px;
  right: 20px;
  background-image: url(img/pynt2.webp);
}

#pynt3 {
  width: 20%;
  position: absolute;
  top: 350px;
  left: 20px;
  background-image: url(img/pynt3.webp);
}

#pynt4 {
  width: 20%;
  position: absolute;
  top: 40px;
  left: 20px;
  background-image: url(img/pynt4.webp);
}

#pynt5 {
  width: 13%;
  position: absolute;
  top: 993px;
  left: 34px;
  background-image: url(img/pynt5.webp);
}

#pynt6 {
  width: 13%;
  position: absolute;
  top: 100px;
  right: 34px;
  background-image: url(img/pynt6.webp);
}

#pynt7 {
  width: 20%;
  position: absolute;
  top: 850px;
  right: 34px;
  background-image: url(img/pynt7.webp);
}

#pynt8 {
  width: 20%;
  position: absolute;
  top: 1075px;
  right: 20px;
  background-image: url(img/pynt8.webp);
}

@media (min-width: 800px) {
  #pynt1 {
    width: 5%;
    top: 650px;
    left: 200px;
  }

  #pynt2 {
    width: 5%;
    top: 550px;
    right: 200px;
  }

  #pynt3 {
    width: 10%;
    top: 350px;
    left: 300px;
  }

  #pynt4 {
    width: 10%;
    top: 40px;
    left: 10%;
  }

  #pynt5 {
    width: 5%;
    top: 1100px;
    left: 300px;
  }

  #pynt6 {
    width: 5%;
    top: 100px;
    right: 340px;
  }

  #pynt7 {
    width: 10%;
    top: 850px;
    right: 300px;
  }

  #pynt8 {
    width: 10%;
    top: 1200px;
    right: 200px;
  }

  .socials {
    width: 30%;
    padding-block: 5%;
    margin: 0 auto; /* centrerer  */
  }

  .mad {
    width: 70%;
    margin-block: 5%;
    margin: 0 auto; /* centrerer  */
  }
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
