/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Mobil ********************/
.om_container h1 {
  margin-bottom: 12px;
}

.om_container .om p {
  margin-bottom: 20px;
  margin-top: 20px;
}
.computer-billede {
  display: none;
}
.flex_omhanoi {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 380px;
  height: 380px;
  align-items: center;
}

.om_container {
  text-align: center;
  padding: 38px;
}

.om_side a {
  color: var(--grå);
  font-size: 1.1rem;
}

/****************** Computer ***************/
@media (min-width: 800px) {
  .mobil-billede {
    display: none;
  }
  .computer-billede {
    display: block;
    height: 450px;
    width: 370px;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .om {
    max-width: 800px;
    margin: 1.5rem auto;
    padding: 0 1rem;
  }
  .flex_omhanoi {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1.5rem auto;
    padding-bottom: 3rem;
  }

  .flex_omhanoi img {
    width: 300px;
    height: auto;
    border-radius: 2px;
  }

  .grid1-1 {
    display: flex;
    max-width: 1100px;
    margin: 1.5rem auto;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
  }

  .grid1-1 .tekst {
    flex: 1;
    max-width: 320px;
  }

  .intro .billede-1 {
    flex: 1;
  }

  .intro .billede-1 img {
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .footer-links {
    text-align: center;
    margin-top: 70px;
  }
}

/**************** footer ******************/
footer {
  padding: 10px 0;
  text-align: center;
  background-color: #590005;
  margin: 10px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 10px 20px;
  transition: 0.3s;
  padding: 10px 20px;
  margin: 0 auto;
}

.footer-logo {
  font-size: 24px;
  transition: 0.3s;
}

.footer-info {
  transition: 0.3s;
  margin-bottom: 40px;
}

.footer-links {
  display: block;
  text-decoration: underline;
  margin-bottom: 40px;
  transition: 0.3s;
}

.footer-links:hover {
  color: #ffdf93;
  cursor: pointer;
}

/**** til mobil, den her query driller ***/
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
