/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/***************** Variable ****************/
html {
  --mørkerød: #590005;
  --rød: #a20d16;
  --gul: #ffdf93;
  --grøn: #9fc37a;
  --hvid: #ffffff;
  --grå: #797979;
  --baggrund: #fff8f0;

  --font-primary: "Amarante", sans-serif;
  --font-text: "Pridi", serif;
}

h1 {
  font-family: var(--font-primary);
  font-size: 2rem;
}
h2 {
  font-family: var(--font-primary);
  font-size: 1.6rem;
}

h3 {
  font-family: var(--font-text);
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: var(--font-text);
  font-size: 0.875rem;
}

a {
  font-family: var(--font-text);
  font-size: 1rem;
}

body {
  background-color: var(--baggrund);
}

/***************** Header *****************/

header {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: var(--mørkerød);
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

nav .menu a {
  display: block;
  padding: 10px;
  color: var(--hvid);
  font-size: 1.155rem;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

nav .menu a.active {
  color: var(--gul);
  font-weight: bold;
}

.menu a:hover {
  color: var(--gul);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--gul);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
  nav .menu a {
    color: var(--grå);
  }
}
